body {
    background-color: #383838;
    color: aliceblue;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    font-size: 1.4rem ;
}

h1, h2, h3 {
    font-weight: 200;
}

h2, h3 {
    margin: 0;
}